/* .input{
    background-color: pink;
    color: deeppink;
    border: grey;
    outline: none;
}
.todo{
    border: none;
    background-color: rgb(243, 86, 86);
    outline: none;
    color: red;
} */